<%- include("./includes/head") %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <%- include("./includes/header") %>
    <main>
      
      <h1>Recommended Restaurants!</h1>
      <p class="top-para">
        Find your next favorite restaurants with help of our other users.
      </p>
      <% if (!restaurants || restaurants.length === 0) { %>
        <p>No Restaurant found right now!</p>
        <a href="/recommend">Want to add one</a>
      <% } else { %>
        <ul id="restaurants-list">
          
      <% for (let restaurant of restaurants) { %>
          <li class="restaurant-item">
            <article>
              <h2><%= restaurant.name %></h2>
              <div class="restaurant-meta">
                <p><%= restaurant.type %></p>
                <p><%= restaurant.address %></p>
              </div>
              <p>
                <%= restaurant.description %>
              </p>
              <div class="restaurant-action">
                <a href="<%= restaurant.website %>">View Website</a>
              </div>
            </article>
          </li>
      <% } %>
        </ul>
      <% } %>
    </main>
<%- include("./includes/footer") %>